{% include "header.html" %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Timetable Info</title>
</head>

<body>
  <div class="container">
    <h4 class="text-center">แบบตรวจ QC มาตรฐานการปฏิบัติงานพนักงานประจำรถ</h4>
    <h4 class="text-center">ประจำวันที่ 25 เดือน มิถุนายน พ.ศ. 2563 (ขาไป)</h4>
    <h5 class="text-center">(ขาไป - สำหรับพนักงานต้อนรับ)</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">ชื่อ - นามสกุล</th>
            <th scope="col">เวลางาน</th>
            <th scope="col">คิวออก (เวลา)</th>
            <th scope="col">การแต่งกาย</th>
            <th scope="col">ใบอนุญาติ</th>
            <th scope="col">ตรวจวัดแอลกอฮอล์</th>
            <th scope="col">ลงชื่อ</th>
            <th scope="col">หมายเหตุ</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</body>

</html>

{% include "footer.html" %}
