{% include "header.html" %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Timetable Info</title>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>

<body>
  <div class="container">
    <h4 class="text-center">แบบตรวจ QC มาตรฐานการปฏิบัติงานพนักงานประจำรถ</h4>
    <h4 class="text-center">ประจำวันที่ 25 เดือน มิถุนายน พ.ศ. 2563</h4>
    <h5 class="text-center">(ขาไป - สำหรับพนักงานขับรถ)</h5>"
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">ชื่อ - นามสกุล</th>
            <th scope="col">เวลางาน</th>
            <th scope="col">คิวออก (เวลา)</th>
            <th scope="col">การแต่งกาย</th>
            <th scope="col">ใบอนุญาติ</th>
            <th scope="col">ตรวจวัดแอลกอฮอล์</th>
            <th scope="col">ลงชื่อ</th>
            <th scope="col">หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <th>ชื่อ - นามสกุล</th>
            <th>09.00</th>
            <th>16.00</th>
            <th>
              <div class="checkbox">
                <input type="checkbox" checked data-toggle="toggle" data-on="ผ่าน" data-off="ไม่ผ่าน" data-onstyle="success" data-offstyle="danger">
              </div>
            </th>
            <th>
              <div class="checkbox">
                <input type="checkbox" checked data-toggle="toggle" data-on="ผ่าน" data-off="ไม่ผ่าน" data-onstyle="success" data-offstyle="danger">
              </div>
            </th>
            <th>
              <div class="checkbox">
                <input type="checkbox" checked data-toggle="toggle" data-on="ผ่าน" data-off="ไม่ผ่าน" data-onstyle="success" data-offstyle="danger">
              </div>
            </th>
            <th>ชื่ผู้ตรวจ</th>
            <th>-</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>

{% include "footer.html" %}
