{% include "header.html" %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Timetable Info</title>
</head>

<body>
  <div class="container">
    <p>
      Yello !!! {{session.get('firstname')}} {{session.get('lastname')}} ({{session.get('emp_role')}})
    </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">เที่ยวรถ</th>
            <th scope="col">สาย</th>
            <th scope="col">เส้นทาง</th>
            <th scope="col">มาตรฐานรถ</th>
            <th scope="col">ไป / กลับ</th>
            <th scope="col">วันที่</th>
            <th scope="col">เวลาออกจากต้นทาง</th>
            <th scope="col">วันที่ถึงปลายทาง</th>
            <th scope="col">เวลาถึงปลายทาง</th>
            <th scope="col">รถโดยสาร</th>
            <th scope="col">พนักงานต้อนรับบนรถโดยสาร</th>
            <th scope="col">พนักงานขับรถโดยสารประจำทาง</th>
            <th scope="col">ชนิดเที่ยว</th>
            <th scope="col">สถานะการวิ่ง</th>
            <th scope="col">สถานะของเที่ยว</th>
            <th scope="col">สถานะการอนุมัติ</th>
            <th scope="col">แก้ไข</th>
            <th scope="col">ดูข้อมูล</th>
          </tr>
        </thead>
        <tbody>
          {% for row in datas %}
          <tr>
            <th scope="row">{{ row.1 }}</th>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td>{{ row.6 }}</td>
            <td>{{ row.7 }}</td>
            <td>{{ row.8 }}</td>
            <td>{{ row.9 }}</td>
            <td>{{ row.10 }}</td>
            <td>
              {% if session.get('emp_role') == 'พนักงานต้อนรับ' %}
                {% if row.11 == '' and session.get('emp_role') == 'พนักงานต้อนรับ' %}
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalEdit{{row.0}}">ลงชื่อ</button>
                {% else %}
                  {{ row.11 }}
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalCancel{{row.0}}">ยกเลิก</button>
                {% endif %}
              {% else %}
                {{ row.11 }}
              {% endif %}
            </td>
            <td>
              {% if session.get('emp_role') == 'พนักงานขับรถ' %}
                {% if row.13 == '' %}
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalEdit{{row.0}}">ลงชื่อ</button>
                {% else %}
                  {{ row.13 }}
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalCancel{{row.0}}">ยกเลิก</button>
                {% endif %}
              {% else %}
                {{ row.13}}
              {% endif %}
            </td>
            <td>{{ row.15 }}</td>
            <td>{{ row.16 }}</td>
            <td>{{ row.17 }}</td>
            <td>{{ row.18 }}</td>
            <td>{{ row.19 }}</td>
          </tr>
          <!-- Modal -->
          <div class="modal fade" id="modalEdit{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ยืนยันการลงชื่อ</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="{{ url_for('timetable.StaffRegisterRoute') }}" method="POST">
                  <input type="hidden" value="{{ row.0 }}" name="schedule_id">
                  <input type="hidden" value="{{session.get('emp_id')}}" name="emp_id">
                  <input type="hidden" value="{{session.get('emp_role')}}" name="emp_role">
                  <input type="hidden" value="{{session.get('firstname')}} {{session.get('lastname')}}" name="emp_name">
                  <div class="modal-body">
                    <h4>ต้องการลงชื่อเส้นทาง {{ row.3 }} เวลาออก {{ row.6 }} หรือไม่</h4>
                  </div>
                  <input type="hidden" name="id" value="{{row.0}}" />
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Modal cancel booking -->
          <div class="modal fade" id="modalCancel{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ยกเลิกการลงชื่อ</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="{{ url_for('timetable.StaffUnregisterRoute') }}" method="POST">
                  <input type="hidden" value="{{ row.0 }}" name="schedule_id">
                  <input type="hidden" value="{{session.get('emp_id')}}" name="emp_id">
                  <input type="hidden" value="{{session.get('emp_role')}}" name="emp_role">
                  <input type="hidden" value="{{session.get('firstname')}} {{session.get('lastname')}}" name="emp_name">
                  <div class="modal-body">
                    <h4>ต้องการลงชื่อเส้นทาง {{ row.3 }} เวลาออก {{ row.6 }} หรือไม่</h4>
                  </div>
                  <input type="hidden" name="id" value="{{row.0}}" />
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="submit" class="btn btn-danger">ยืนยัน</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>

{% include "footer.html" %}
