{% include "header.html" %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1 align="center">{{header_name}}</h1>

    <form action="" method="POST">
      <input type="hidden" class="form-control" name="id">
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">ชื่อ:</label>
        <input type="text" class="form-control" name="fname" required>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">นามสกุล:</label>
        <input type="text" class="form-control" name="lname" required>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">เพศ:</label>
        <select class="custom-select" id="inputGroupSelect02" name="sex">
          <option value="ชาย" name="sex" selected>ชาย</option>
          <option value="หญิง" name="sex">หญิง</option>
        </select>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">วันเกิด:</label>
        <input type="date" class="form-control" name="birthdate" required>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">อีเมล์:</label>
        <input type="email" class="form-control" name="email" required>
      </div>
      <div class="form-group">
        <a href="/showDataMember" class="btn btn-secondary" data-dismiss="modal">กลับหน้าหลัก</a>
        <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button></button>
      </div>
    </form>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
{% include "footer.html" %}
